.contact-container {   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;

    padding: 40px;
    
    /* Silver for a sleek effect */
background: linear-gradient(360deg, #00CED1, #191970 150%);

}




