.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

background: linear-gradient(180deg, #00CED1, #191970 150%);
    padding: 20px;
}